*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}
p{
    color:#727272;
    font-family: Work Sans;
    font-size: 0.9em;
    line-height: 162%;
    margin-top: 10px;
}
button{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 30px;
}
/* header design */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: rgba(255, 144, 14, 0.10);
}
/* nav design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
nav h1{
    color:#131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8125em;
    font-weight: 700;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 477px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:#424242;
    font-family: Work Sans;
    font-size: 1.125em;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 70px;
    margin-top: 100px;
}
.banner-content{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    color:#131313;
    font-family: Work Sans;
    text-align: center;
    font-size: 4em;
}
.banner-content p{
    text-align: center;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}

/* main design */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quick-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68.80%;
    margin-top: 85px;
}
.quick-list-img{
    width: 53.59%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 25px;
}
.quick-list-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.quick-list-content{
    width: 50%;
    padding-left: 76px;
    font-size: 16px;
}
.span-1{
    color:#727272;
    font-family: Work Sans;
    font-size: 1em;
    font-weight: 500;
}
.quick-list-content h1{
    color:#131313;
    font-family: Work Sans;
    font-size: 2.8125em;
    font-weight: 700;
}
.span-2{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 1em;
    font-weight: 700;
}

/* features design */
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: auto;
    margin-top: 130px;
}
.features-content{
    width: 40%;
    height: 100;
    margin-right: 55px;
}
.features-img{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%; 
}
.features-img img{
    align-self: flex-end;
    width: 88.5%;
    height: 92.64%;
}
.features-img div{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 42%;
    height: 20%; */
    width: 240px;
    height: 130px;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    bottom: 80px;
}
.features-img div h1{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5em;
    /* font-size: 55px; */
    /* margin-top: 46px 42px 0 42px; */
}
.features-img div p{
    text-align: center;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.5em;
    /* font-size: 25px; */
    font-style: normal;
    /* margin-top: 0 42px 46px 42px; */
}
.features-content h1{
    color: #131313;
    font-family: Work Sans;
    font-size: 2em;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.card{
    padding-left: 20px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}
.card h2{
    color: #131313;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}