*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}
p{
    color:#727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 1em;
    line-height: 162%;
    margin-top: 30px;
}
button{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 30px;
}
/* header design */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: rgba(255, 144, 14, 0.10);

    ;
}
/* nav design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
nav h1{
    color:#131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8125em;
    font-weight: 700;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 477px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:#424242;
    font-family: Work Sans;
    font-size: 1.125em;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 70px;
    margin-top: 100px;
}
.banner-content{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    color:#131313;
    font-family: Work Sans;
    text-align: center;
    font-size: 4em;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}

/* main design */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quick-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 85px;
}
.quick-list-img{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.quick-list-img img{
    width: 48%;
    height: 48%;
    border-radius: 8px;
}
.quick-list-content{
    width: 40%;
    padding-left: 76px;
    font-size: 16px;
}
.span-1{
    color:#727272;
    font-family: Work Sans;
    font-size: 1em;
    font-weight: 500;
}
.quick-list-content h1{
    color:#131313;
    font-family: Work Sans;
    font-size: 2.8125em;
    font-weight: 700;
}
.span-2{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 1em;
    font-weight: 700;
}
.quick-list-content p{
    text-align: start;
}